arrow
beautifulsoup4
boto3
botocore
bs4
mutagen
pytest
python-dateutil
python-debian
roman
s3transfer
selenium
urllib3
youtube-dl
colorama
enum34
lxml
moment
namedlist
py
pytest-allure-adaptor
pytest-gitignore
pytz
six
times
fire